#textbox{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  border: 5px solid lightgrey;
}

#rteHeaderContent, #rtePreview{
  min-height: 140px;
  font: 14px arial, sans-serif;
  border: 1px solid grey;  
  clear:both;
  margin: 2px;
}

#rteHeaderContent:focus{
  outline:none;
  background-color: #FFFFE5;
}

#rteHeader li{
  list-style-type: none;
  float: left;
  padding: 5px 3px;
}

#rteHeader{
  margin: 0;
  padding: 0;
}

input.func{
  font: bolder 14px arial, sans-serif;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
}