#textbox{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
}

#rteHeaderContent, #rtePreview{
  min-height: 140px;
  font: 13px arial, sans-serif;
  border: 1px solid grey;  
  clear:both;
  margin: 2px;
}

#rteHeaderContent:focus{
  outline:none;
}

#rteHeaderContent li{
  margin-left: 0px;
  padding-left: 0px;
}

#rteHeader li{
  list-style-type: none;
  float: left;
  padding: 5px 3px;
}

#rteHeader{
  margin: 0;
  padding: 0;
}

input.func{
  font: bold 13px arial, sans-serif;
  min-width: 30px;
  border: 1px solid grey;
  padding: 4px;
  text-align: center;
  display: inline-block;
  margin-right: -6px;
  margin-left: -1px;
  background: -moz-linear-gradient( top, #F9F9F9, 33%, #EEE, 66% ,#E3E3E3 );
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));;
  background: linear-gradient( top, #F9F9F9, 33%, #EEE, 66% ,#E3E3E3 );
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  box-shadow: 2px 2px 2px lightgrey;
  outline: none;
}

#rteHeader li input:active{
  background: -moz-linear-gradient( top, #E3E3E3, 33%, #EEE, 66% ,#F9F9F9 );
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(221, 221, 221)), to(rgb(255, 255, 255)));;
  background: linear-gradient( top, #E3E3E3, 33%, #EEE, 66% ,#F9F9F9 );
}

#button_code{
  font: bold 15px arial, sans-serif;
  padding: 3px;
}

input.button_bold_active, input.button_underline_active, input.button_italic_active, input.button_unorderedlist_active, input.button_orderedlist_active, input.button_code_active, input.button_link_active {
  background: -moz-linear-gradient( top, #E3E3E3, 33%, #EEE, 66% ,#F9F9F9 );
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(221, 221, 221)), to(rgb(255, 255, 255)));;
  background: linear-gradient( top, #E3E3E3, 33%, #EEE, 66% ,#F9F9F9 );
}

.bold{
  font-weight: bold;
}

#sendEmail{
  margin-left: 0px;
}

.right{
  position: relative;
  left: 340px;
}

.marginleft{
  border-left-style: 5px blue solid;
}
