#textbox{
  width: 400px;
  min-width: 400px;
  max-width: 400px;
  border: 5px solid lightgrey;
}

#rteHeaderContent, #rtePreview{
  min-height: 140px;
  font: 14px arial, sans-serif;
  border: 1px solid grey;  
  clear:both;
  margin: 2px;
}

#rteHeaderContent:focus{
  outline:none;
  background-color: #FFFFE5;
}

#rteHeader li{
  list-style-type: none;
  float: left;
  padding: 5px 3px;
}

#rteHeader{
  margin: 0;
  padding: 0;
}

input.func{
  font: 14px arial, sans-serif;
  min-width: 30px;
  border: 1px solid grey;
  padding: 4px;
  text-align: center;
  display: inline-block;
  margin-right: -3px;
  margin-left: -1px;
  background: -moz-linear-gradient( top, #F9F9F9, 33%, #EEE, 66% ,#E3E3E3 );
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));;
  background: linear-gradient( top, #F9F9F9, 33%, #EEE, 66% ,#E3E3E3 );
  text-shadow: 0px 1px 1px rgba(255,255,255,1);
}

#rteHeader li input:active{
  background: -moz-linear-gradient( top, #E3E3E3, 33%, #EEE, 66% ,#F9F9F9 );
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(221, 221, 221)), to(rgb(255, 255, 255)));;
  background: linear-gradient( top, #E3E3E3, 33%, #EEE, 66% ,#F9F9F9 );
}

#sendEmail{
  margin-left: -1px;
}

.right{
  position: relative;
  left: 340px;
}